:root {
  --input-bgcolor: white;
  --button-bgcolor: #5373fd;
  --button-hovercolor: darkblue;
  --text-color: #ffffff;
  --textcolor-placeholder: #999999;
  --textcolor-input: black;
  --burger-color: white;
  --steps-bgcolor: #333333;
  --booknow1-bgcolor: #232323e5;
  --review-samsumon-bgcolor: #333333;
  --quote-left-iconcolor: blue;
  --footer-bgcolor: black;
  --footer-iconcolor: white;
  --footer-iconhover: blue;
}
