.button {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: aquamarine;

    &:hover {
        columns: red;
    }

    &--secondary {
        background-color: transparent;
    }
    
}
